<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <!-- The location of the spring configuration file -->
    <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!-- Listener for spring, so that the rest of the app gets loaded -->
    <listener>
      <listener-class>
        org.springframework.web.context.ContextLoaderListener
      </listener-class>
    </listener>

    <!-- Servlet hosting our REST endpoints -->
    <servlet>
      <servlet-name>jersey-servlet</servlet-name>
      <servlet-class>
        com.sun.jersey.spi.spring.container.servlet.SpringServlet
      </servlet-class>
      <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>ons-boodschappen-lijstje</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Map everything from /api/* to jersey -->
    <servlet-mapping>
      <servlet-name>jersey-servlet</servlet-name>
      <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>
